[alias]
  abort = "!f() { if [[ -n $(ls .git | grep REVERT) ]]; then git revert --abort; elif [[ -n $(ls .git | grep CHERRY) ]]; then git cherry-pick --abort; else git merge --abort;fi }; f"
  alias = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
  ap = !sh -c 'git commit -a --amend --no-edit && git push --force-with-lease' -
  amend = commit -a --amend --no-edit
  aa = add -A
  b = !sh -c 'git switch -c nschweitzer/$1' -
  bd = branch -D
  c = commit -am
  cont = "!f() { git add -u; if [[ -n $(ls .git | grep rebase-) ]]; then git rebase --continue; elif [[ -n $(ls .git | grep CHERRY) ]]; then git cherry-pick --continue; else git merge --continue;fi }; f"
  cp = !sh -c 'git commit -am \"$1\" && git push --force-with-lease' -
  cpc = cherry-pick --continue
  d = !sh -c 'git diff -w HEAD~"$1" "${2+--name-only}"' -
  default = !git rev-parse --abbrev-ref origin/HEAD | sed 's|^origin/||'
  delete = !sh -c 'git branch -D "$1" && git push origin :"$1"' -
  empty = commit -m 'Empty commit' --allow-empty
  filematch = !sh -c ' git grep -i "$1" | cut -d ":" -f 1 | sort -u' -
  flush = "!f() { git switch $(git default); git pull; for branch in $(git branch --format='%(refname:short)'); do if [[ -z "$(git branch -r --list "origin/${branch}")" ]]; then git branch -D "$branch";fi;done; }; f"
  fwd = "!f() { git pull --rebase origin "${1:-$(git default)}"; }; f"
  g = grep -i
  h = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short -10
  http = remote add http https://github.com/DataDog/datadog-agent.git
  k = diff --name-only --diff-filter=U
  l = status -s
  last = log --pretty=format:\"%h %ad | %s%d [%an]\" --all -2 --
  list = ls-files
  ls = !git ls-files | grep -i
  m = machete
  n = ls-tree --full-tree -r HEAD
  o = switch
  p = pull
  parent = log --pretty=%P -n 1
  pf = push --force-with-lease
  pfs = push --force-with-lease --push-option='ci.skip'
  pfh = "!f() { current=$(git rev-parse --abbrev-ref HEAD); git push -u http "$current" --force; }; f"
  pr = !sh -c 'git fetch $1 pull/$2/head:pr-$2 && git checkout pr-$2' -
  pt = push origin tag
  # pr = !sh -c 'git fetch $1 pull-requests/$2/from:pr-$2 && git checkout pr-$2' -
  r = remote -v
  rbc = !sh -c '[[ $(git grep -I \"<<<<<<\" | wc -l) -eq 0 ]] && (git add -A && git rebase --continue) || git grep -I \"<<<<<\"' -
  rework = "!f() { if [[ ${#1} -gt 3 ]]; then git rebase -i $1; else git rebase -i HEAD~"${1:-10}"; fi; }; f"
  rh = reset HEAD --hard
  sp = stash push -p -m
  s = "!f() { local=$(git for-each-ref --format='%(refname:short)' refs/heads/ | grep -E "$1"); if [[ -n "$local" ]]; then git switch $local; else git switch --guess $1; fi;}; f"
  st = status -sb
  tagcommit = rev-list -n 1
  v = branch -vv
  w = "!f() { git status -s && sleep 1; if [[ $(git diff --name-only | wc -l) -gt 0 ]]; then git diff -w; fi; if [[ $(git diff --name-only --cached | wc -l) -gt 0 ]]; then git diff -w --staged; fi; }; f"
  when-deleted = !git log --all -1 --
  x = !sh -c 'git reset --hard HEAD~"${1:-1}"' -
[branch]
	sort = -committerdate
[credential]
  helper = cache --timeout=86400
[column]
	ui = auto
[commit]
	gpgsign = true
[core]
  editor = /opt/homebrew/bin/nvim
  excludesFile = ~/.gitignore
  fsmonitor = true
  pager = delta
  symlinks = true
	hooksPath = /usr/local/dd/global_hooks
# [url "git@github.com:"]
#   insteadOf = https://github.com/
# [url "ssh://git@github.com/"]
#     insteadOf = https://github.com/
[delta]
  navigate = true
  line-numbers = true
[diff]
  tool = difftastic
  colorMoved = default
  renames = true
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[feature]
  manyFiles = true
[fetch]
  # Remove any remote-tracking references that no longer exist on the remote when fetching
  prune = true
  # pruneTags = true
  all = true
[gpg]
	program = /Users/nicolas.schweitzer/.local/bin/yubinotif
	format = ssh
[grep]
  lineNumber = true
[help]
  autocorrect = prompt
[http]
  postBuffer = 524288000
	sslCAPath = /etc/ssl/certs/
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only --features=interactive
[maintenance]
	repo = /Users/nicolas.schweitzer/go/src/github.com/DataDog/datadog-agent
	repo = /Users/nicolas.schweitzer/go/src/github.com/DataDog/dd-source
[merge]
  tool = vimdiff
  conflictstyle = diff3
[pager]
  difftool = true
[pull]
  rebase = false
[push]
  default = simple
  autoSetupRemote = true
  #followTags = true
[rebase]
  autoStash = true
  autoSquash = true
  updateRefs = true
[rerere]
	enabled = true
  autoupdate = true
[tag]
	forceSignAnnotated = true
  sort = version:refname
[user]
  name = Nicolas Schweitzer
	email = nicolas.schweitzer@datadoghq.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKEHyc9wJwPw0vf6QtAk+nCE8l4VrQd0womvCl2h9yOY nicolas.schweitzer+git-commit-signing@datadoghq.com
