[user]
	email = nicolas.schweitzer@datadoghq.com
	name = Nicolas Schweitzer
	signingkey = ssh-ed25519 *** nicolas.schweitzer+git-commit-signing@datadoghq.com
[core]
  pager = less -FRX
  # pager = less -FRSX
  editor = /usr/bin/vim
  symlinks = true
# [url "git@github.com:"]
#   insteadOf = https://github.com/
# [url "ssh://git@github.com/"]
#     insteadOf = https://github.com/
[merge]
  tool = vimdiff
[diff]
  tool = vimdiff
[credential]
  helper = cache --timeout=86400
[difftool]
  prompt = false
[alias]
  a = !sh -c 'git commit -a --amend --no-edit && git push -f' -
  aa = add -A
  b = branch
  c = commit
  d = !sh -c 'git branch -D $1 && git push origin :$1'
  f = fetch
  h = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short -10
  l = stash list
  ls = ls-files
  m = merge
  n = ls-tree --full-tree -r HEAD
  o = checkout
  p = pull
  po = push origin `mb`
  pr = !sh -c 'git fetch $1 pull/$2/head:pr-$2 && git checkout pr-$2' -
  #pr = !sh -c 'git fetch $1 pull-requests/$2/from:pr-$2 && git checkout pr-$2' -
  # ps = push origin `git branch | grep '\*' | cut -d' ' -f2`
  r = remote -v
  rb = rebase --continue
  s = status -s
  t = stash save
  v = branch -vv
  w = diff -w
  ws = diff -w --staged
[http]
  postBuffer = 524288000
	sslCAPath = /etc/ssl/certs/
[push]
  default = simple
  autoSetupRemote = true
[core]
  excludesFile = ~/.gitignore
  hooksPath = /usr/local/dd/global_hooks
[fetch]
  # Remove any remote-tracking references that no longer exist on the remote when fetching
  prune = true
[rebase]
  autostash = true
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[gpg]
	program = /Users/nicolas.schweitzer/.local/bin/yubinotif
	format = ssh
